@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Ma+Shan+Zheng&display=swap');

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Ma+Shan+Zheng&display=swap');

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
body {
  padding-top: 56px;
}
.navbar{
  background-image: linear-gradient(to right,#fd5f00,#da4302);
  padding: 0 !important;

}
.about-title{
  font-size: 2.5rem;
  font-weight: 600;
  margin-top:8%;
  font-family: 'Kalam', cursive;
  color: #fd5f00;
  text-align: center;
}

#logo{
     
  font-family: 'Kaushan Script', cursive;
  font-size: 4rem !important;
  color: rgb(222, 230, 238);
}
#log{
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 2rem !important;
  color: rgb(225, 232, 238);
  text-decoration: underline;
}
.navbar-nav li{
  padding: 0 10px;
}
.navbar-nav li a {
  color: aliceblue !important;
  font-weight: 400;
 /* float: right;*/
 /* text-align: left;*/
  
}
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
.description{
  padding: 0;
}

.title-heading{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10rem;
}

.title-heading h3{
  font-size: 1.4rem;
  color: rgba(0, 0, 0, .7);
}

.title-heading h1{
  font-family: 'Aldrich', sans-serif;
  font-size: 2.5rem;
  margin: 5rem 0 2rem;
}

.title-heading img{
  margin-top: 5rem;
}
.title-heading h2{
  margin-top: -7rem;
  font-family: 'Aldrich', sans-serif;
  font-size: 2.5rem;
}


.activities-grid-item{
  height: 20em;
  padding: 2.7rem;
  position: relative;
  color: rgba(0, 0, 0, .7);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  z-index: 1;
  text-align: center;
  margin-top: -12rem;
}
.row h2{
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-top: 1.5rem;
}
svg{
  margin:  0 auto;

}
span{
  color: orangered;
}
.pr{
  text-transform: lowercase;
  color: black;
}
.activities-grid-item::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
}
.txt{
  font-size: 0.9rem;
  font-family: 'Ubuntu', sans-serif;

}
li{
  list-style: none;
}


.title::before{
  content: "";
  background: #fd5f00;
  height: 5px;
  width: 200px;
  
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}
.title::after{
  content: "";
  background: #fd5f00;
  height: 10px;
  width: 50px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(8px);
}
.services-img{
  width: 200px;
  height: 400px;
  background-color: aliceblue;
}


.list-type1{
  width:400px;
  margin:0 auto;
  }
  
  .list-type1 ol{
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin-bottom: 2em;
  }
  .list-type1 ol ol{
  margin: 0 0 0 2em;
  }
  
  .list-type1 a{
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .5em 0;
  background: #da4302;
  color: #000;
  text-decoration: none;
  -moz-border-radius: .2em;
  -webkit-border-radius: .3em;
  border-radius: 10em;
  transition: all .2s ease-in-out;
  }
  
  .list-type1 a:hover{
  background: #fd5f00;
  text-decoration:none;
  transform: scale(1.1);
  }
  
  .list-type1 a:before{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background:#fd5f00;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  color:#FFF;
  }
